
.bimg{
  height: 30px;
}

.preto_branco{
  filter: grayscale(100%);
}

.alto-contraste{
  background-color: black;
  color: white;

}

.alto-contraste a{
  color: yellow;
}

.ace{
  position: fixed;
  padding: 5px;
  width: 100vw;
  display:flex ;
  justify-content: end;
  margin-top: 70px;
 
}
nav{
  padding: 10px;
}
