/* SearchBar.css */

.search-container {
	top: 50px;
	display: flex;
  justify-content: end;
  transform: translate(26vw, -56px);
  z-index: 4;
}

.input-container {
	display: flex;
	align-items: center;
}

.search-input {
	width: 300px;
	height: 40px;
	padding: 8px 13px;
	border: 1px solid #ccc;
	border-radius: 40px 0 0 40px;
	border-right: none;
}

.search-input:focus {
	outline: none;
}

.search-icon {
  width: 20px;
  color: white;
}

.search-button {
	height: 40px;
	padding: 10px 12px;
	background: linear-gradient(to right, #00050d, #007bff);
	color: #fff;
	border: 1px solid #ccc;
	border-radius: 0 40px 40px 0;
	transition: background 0.3s ease-in-out;
}

.search-button:hover {
	background: linear-gradient(to right, #04000c, #bf00ff);
}
