:root {
  --font-primary: #fff;
  --font-secondary: #aaaaaa;
  --bg-primary: #0F0E0E;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background:var(--bg-primary);
  color: #fff;
  font-family: 'Poppins', sans-serif;
}

.bing{
  height: 60px;

}